<!DOCTYPE html>
{% if tag %}
{% set currenttag = tag %}
{% endif %}
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if page.title() %}
    <title>Flaport.net | {{ page.title() }}</title>
    {% else %}
    <title>Flaport.net</title>
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/colors.css" type="text/css" />
    {% if vega %}
    <script src="/static/js/vega.js"></script>
    <script src="/static/js/vega-lite.js"></script>
    <script src="/static/js/vega-embed.js"></script>
    {% endif %}
    {% if plotly %}
    <script src="/static/js/plotly-latest.min.js"></script>
    {% endif %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
      };
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  {% block head %} {% endblock head %}
  </head>
  <body>
    <div class="document">
      <div class="contentwrapper">

          <div class="noprint" align="right">
          <span class="fa tooltip hideborder" style="cursor: default">
                &nbsp;
                <span class="tooltiptext">toggle dark mode</span>
          </span>
          <span class="fa tooltip hideborder" style="cursor: default">
                <input type="checkbox" class="noprint" id="darkmodetoggle"/>
                <span class="tooltiptext">toggle dark mode</span>
          </span>
          </div>


        <div class="content">
            {% block content %} {% endblock content %}
        </div>
      </div>

      <div class="sidebar">
        <div class="sidebarwrapper">
          <h1 class="logo"><a href="/">Flaport.net</a></h1>
          <ul>
            <li class="toctree-l1">
              <a href="/">Home</a>
            </li>
            {% if tag %}
            <li class="toctree-l1">
                Tag: <a href="/{{ tag.uri() }}">{{ tag.longname() }}</a>
                {% if page == tag %}
                {% set uri = index.uri() %}
                {% else %}
                {% set uri = page.uri() %}
                {% endif %}
                <a class="fa tooltip hideborder" href="/{{ uri }}">
                <span class="tooltiptext">exit [{{ tag.name() }}] tag view</span>
                </a>
            </li>
            {% endif %}
            {% if newest_post %}
            <li class="toctree-l1">
                {% if tag %}
                <a href="/{{ tag.uri() }}{{ newest_post.uri() }}">Newest [{{ tag.name() }}] Post</a>
                {% else %}
                <a href="/{{ newest_post.uri() }}">Newest Post</a>
                {% endif %}
            </li>
            {% endif %}
            {% if next_post %}
            <li class="toctree-l1">
                {% if tag %}
                <a href="/{{ tag.uri() }}{{ next_post.uri() }}">Newer [{{ tag.name() }}] post</a>
                {% else %}
                <a href="/{{ next_post.uri() }}">Newer post</a>
                {% endif %}
            </li>
            {% endif %}
            {% if previous_post %}
            <li class="toctree-l1">
                {% if tag %}
                <a href="/{{ tag.uri() }}{{ previous_post.uri() }}">Older [{{ tag.name() }}] post</a>
                {% else %}
                <a href="/{{ previous_post.uri() }}">Older post</a>
                {% endif %}
            </li>
            {% endif %}
            <h3 style="padding-top: 1em;">Tags</h3>
            {% for tag in index.tags %}
                {% include "_tag.html" %}
            {% endfor %}
            <h3 style="padding-top: 1em;">Projects</h3>
            <li class="toctree-l1">
              <a href="https://photontorch.com"
                >Photontorch&nbsp;</a
              >
            </li>
            <li class="toctree-l1">
              <a href="https://github.com/flaport/fdtd"
                >Python&nbsp;3D&nbsp;FDTD&nbsp;</a
              >
            </li>
            <h3 style="padding-top: 1em;">External links</h3>
            <li class="toctree-l1">
                <a href="/index.xml" target="_blank">RSS&nbsp;<span class="fa">&nbsp;</span></a>
            </li>
            <li class="toctree-l1">
              <a href="https://github.com/flaport"
                >GitHub&nbsp;<span class="fa">&nbsp;</span></a
              >
            </li>
            <li class="toctree-l1">
              <a href="https://twitter.com/florislaporte"
                >Twitter&nbsp;<span class="fa">&nbsp;</span></a
              >
            </li>
            <li class="toctree-l1">
              <a href="https://linkedin.com/in/florislaporte"
                >Linked&nbsp;<span class="fa">&nbsp;</span></a
              >
            </li>
            <li class="toctree-l1">
              <a href="https://www.photonics.intec.ugent.be/contact/people.asp?ID=424"
                 >Academic&nbsp;Profile&nbsp;<span class="fa"></span>&nbsp;</a
              >
            </li>
            <div style="padding-top: 2em;">
                <span class="fa"></span> Floris Laporte 2020
                <a href="/static/js/javascript.html" rel="jslicense" style="display: none"> view javascript licenses</a>
            </div>
          </ul>
      </div>
    </div>
    <script src="/static/js/localdates.js"></script>
    <script src="/static/js/externallinks.js"></script>
    <script src="/static/js/toggledarkmode.js"></script>
  </body>
</html>
