<h2><a href="{{ page.uriprefix() }}{{ post.uri() }}">{{ post.title() }}</a></h2>
<p>
author: {{ post.author() }}&nbsp;&middot;
published: <a class="date">{{ post.utcpublished().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>&nbsp;&middot;
{% if post.utcmodified().strftime("%Y-%m-%d") != post.utcpublished().strftime("%Y-%m-%d") %}
last modified: <a class="date">{{ post.utcmodified().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>&nbsp;&middot;
{% endif %}
tags:
{% for tag in post.tags %}
    {% if page.uri() != tag.uri() %}
        <a href="{{ page.uriprefix() }}{{ tag.uri() }}">{{ tag.name() }}</a>&nbsp;
    {% else %}
        {{ tag.name() }}&nbsp;
    {% endif %}
{% endfor %}
</p>
{{ post.summary() }}
<hr>
