<h2><a href="/{{ post.uri() }}">{{ post.title() }}</a></h2>
<p>
author: {{ post.author() }}
&middot;&nbsp;published: <a class="date">{{ post.utcpublished().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>
{% if post.utcmodified().strftime("%Y-%m-%d") != post.utcpublished().strftime("%Y-%m-%d") %}
&middot;&nbsp;last modified: <a class="date">{{ post.utcmodified().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>
{% endif %}
{% if post.tags %}
&middot;&nbsp;tags:
{% endif %}
{% for tag in post.tags %}
    {% if page.uri() != tag.uri() %}
        <a href="/{{ tag.uri() }}">{{ tag.name() }}</a>&nbsp;
    {% else %}
        {{ tag.name() }}&nbsp;
    {% endif %}
{% endfor %}
</p>
{{ post.summary() }}
<hr>
