{% if tag %}
    <h2><a href="/{{ tag.uri() }}{{ post.uri() }}">{{ post.title() }}</a></h2>
{% else %}
    <h2><a href="/{{ post.uri() }}">{{ post.title() }}</a></h2>
{% endif %}
<!-- author: {{ post.author() }}&nbsp;&middot; -->
posted on <a href="#" class="date">{{ post.utcpublished().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>
{% if post.utcmodified().strftime("%Y-%m-%d") != post.utcpublished().strftime("%Y-%m-%d") %}
&middot;&nbsp;last modified on <a href="#" class="date">{{ post.utcmodified().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>
{% endif %}
{% if post.tags %}
<div style="padding-top: 3pt">
tags:
{% for tag in post.tags %}
    {% include "_tag.html" %}
{% endfor %}
</div>
{% endif %}
{{ post.summary() }}
