{% extends "_base.html" %}

{% block head %}
<style>
#intro {
  border-style: dashed;
  border-radius: 5px;
  border-width: 1px;
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 5pt;
  padding-bottom: 5pt;
}
#intro a[href*="://"]
{
  background: none;
  padding-right: 0;
}
</style>
{% endblock head %}

{% block content %}

<div id="intro">
    <p>Hi,</p>
    <p>I am Floris Laporte, </p>
    <p>I write some stuff down once in a while. Mostly about (desktop) linux and machine learning:</p>
</div>

{% for post in page.posts %}
    {% include "_postsummary.html" %}
{% endfor %}

{% endblock content %}
