{% extends "_base.html" %}

{% block content %}

<h1>Blog</h1>

<p>I'm Floris Laporte, I am a
<a href="https://www.photonics.intec.ugent.be/contact/people.asp?ID=424">post-doctoral researcher at Ghent&nbsp;University&nbsp;<span class="fa" style="font-size: 0.6em"></span></a>, Belgium. </p>
<p>My research primarily focuses on
<a href="https://www.photonics.intec.ugent.be/research/topics.asp?ID=112">Photonic Neuromorphic Computing and Reservoir Computing&nbsp;<span class="fa" style="font-size: 0.6em"></span></a>,
<a href="https://www.photonics.intec.ugent.be/research/topics.asp?ID=197">Reconfigurable Photonic Circuits&nbsp;<span class="fa" style="font-size: 0.6em"></span></a>,
<a href="https://photontorch.com">Machine Learning for photonics&nbsp;<span class="fa" style="font-size: 0.6em"></span></a> and
<a href="https://github.com/flaport/fdtd">Numerical Computing&nbsp;<span class="fa" style="font-size: 0.6em"></span></a> in general.</p>
<p>Outside of machine learning and photonics, I enjoy snowboarding, diving,
volleybal, squash and beer.</p>

<p>I also write some stuff down once in a while. Mostly about (desktop) linux
and machine learning:</p>

    {% for post in page.posts %}
        {% include "_postsummary.html" %}
    {% endfor %}

{% endblock content %}
