{% extends "_base.html" %}

{% block content %}
    <h1>{{ page.title() }}</h1>
<!-- author: {{ page.author() }}&nbsp;&middot; -->
pageed on <a href="#" class="date">{{ page.utcpublished().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>
{% if page.utcmodified().strftime("%Y-%m-%d") != page.utcpublished().strftime("%Y-%m-%d") %}
&middot;&nbsp;last modified on <a href="#" class="date">{{ page.utcmodified().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>
{% endif %}
{% if page.tags %}
<div style="padding-top: 3pt">
tags:
{% for tag in page.tags %}
    {% include "_tag.html" %}
{% endfor %}
</div>
{% endif %}
{{ page.content() }}

<script data-isso="//isso.flaport.net/" src="//isso.flaport.net/js/embed.min.js"></script>
<style>
#isso-thread > h4 {
    color: var(--color15);
    font-weight: bold;
}
</style>
<section id="isso-thread"></section>

{% endblock content %}



