{% extends "_base.html" %}

{% block content %}
    <h1>{{ page.title() }}</h1>
    <p>
    author: {{ page.author() }}&nbsp;&middot;
    published: <a class="date">{{ page.utcpublished().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>&nbsp;&middot;
    {% if page.utcmodified().strftime("%Y-%m-%d") != page.utcpublished().strftime("%Y-%m-%d") %}
    last modified: <a class="date">{{ page.utcmodified().strftime("%Y-%m-%dT%H:%M:%SZ") }}</a>&nbsp;&middot;
    {% endif %}
    tags:
    {% for tag in page.tags %}
        <a href="/{{ tag.uri() }}">{{ tag.name() }}</a>&nbsp;
    {% endfor %}
    </p>
    {{ page.content() }}

<script data-isso="//isso.flaport.net/" src="//isso.flaport.net/js/embed.min.js"></script>
<section id="isso-thread"></section>

{% endblock content %}



